# docker-compose.yml

services:
  sdr-control:
    build:
      context: .
      dockerfile: Dockerfile
    image: evanparden/corecast:corecast-server
    container_name: corecast-server
    # network_mode: "host"

    restart: unless-stopped

    env_file: ./.env

    networks:
      corecast_net: {}


    ports:
      - "2222:2222"
      # web sockets
      - "5050:5000"
      - "8002:8002"
      - "8001:8001"

    # This is the change. We are now using a "bind mount".
    # This links the ./ssh_keys folder from your computer into the container.

    security_opt:
      - "apparmor:unconfined"

    extra_hosts:
      - "host.docker.internal:host-gateway"


    volumes:
      # - ./ssh_keys:/app/host_keys
      # - ./proxychains.conf:/app/proxychains.conf:ro
      - ./sshd_config:/app/sshd_config:ro


    # 1. Uncap memory locking (Crucial for GNU Radio buffers)
    ulimits:
      memlock: -1
      rtprio: 99  # Real-time priority

    # 2. Grant CPU Priority
    # 'cpu_shares' defaults to 1024. Setting to 2048 gives it double the priority
    # of standard containers if the CPU is under load.
    cpu_shares: 2048

    # 3. Security & Kernel Permissions
    cap_add:
      - SYS_NICE        # Allows threads to set high priority
      - SYS_RESOURCE    # Allows adjusting resource limits



    environment:

      ROLE: "all"
      # Set to "tunnel" (default) to connect to the SSH reverse tunnel (127.0.0.1:55132).
      # Set to "direct" to connect directly to the address in SDR_REMOTE.
      SDR_CONNECTION_TYPE: "tunnel"

      WEBSOCKET_PORT: "5000"

      SDR_REMOTE: "127.0.0.1:55132"
      # REMOTE_PROT: "tcp"
      REMOTE_TIMEOUT_MS: "100000"
      CENTER: "104100000"
      SPAN_RATE: "2048000"
      FFT_SIZE: "1024"
      AUD_RATE: "48000"
      GAIN_DB: "20"
      CHUNK_MS: "50"
      SOAPY_SDR_LOG_LEVEL: "INFO"
      PYTHONPATH: /usr/lib/python3/dist-packages
      LD_LIBRARY_PATH: /usr/lib

      REMOTE_MTU: "1280"

      MAX_CLIENTS: "10"

      INTERNAL_API_KEY: "change-me-to-a-very-long-secret-key"

      # This is the internal Docker DNS name for your API container
      # METRICS_API_URL: "http://192.168.1.213:7000/api/metrics"

      ZMQ_PORT: "5678"





networks:
  corecast_net:
    external: true
